html, body {
    font-size: 150%;
    margin: 0;
    padding: 0;
}
header {
    height: 2rem;
    margin: 0;
    background-color: lightblue;
}
footer {
    height: 2rem;
    margin: 0;
    background-color: lightblue;
}
article {
    height: calc(100vh - 2 * 2rem);
    margin: 0;
    overflow: auto;
}