.content {
    background-color: lightblue;
    color: black;
    a {
        color: yellow;
        &:link, &:visited {
            color: red;
        }
        &:hover {
            color: green;
        }
    }
}
