body {
    font-size: 150%;
}

.flex {
    /* basic styling */
    width: 100%;
    border: 1px solid black;

    /* flexbox setup */
    display: flex;
    flex-direction: row;
}

.flex > div {
    background: lightgreen;
    margin: 5px;
}
.flex > span {
    background: lightblue;
    flex-grow: 1;
}

.flex > div:nth-child(1) { order: -1; }
.flex > div:nth-child(2) { order: -2; }

