body { font-size: 20px; }
p { color: black; }
section p { color: red; }
section + section + section > p  { color: blue; }
h1 + section p { color: yellow; }
section > p:nth-child(1) { color: green; }

