body, html {
    font-size: 24px;
}

.a {
    width: 300px;
    height: 100px;
    padding: 10px;
    text-align: right;
    background-color: lightblue;
}

.b {
    font-size: 32px;
    width: 400px;
    height: 100px;
    padding: 50px;
    text-align: center;
    background-color: lightpink;
}