body {
    font-size: 30px;
}
.button-tooltip {
    position: relative;
}
button {
    background-color: green;
    border: none;
    color: white;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 1em;
    transition: background-color 2s, color 1s;
}
button + p.tooltip {
    position: absolute;
    top: 2.5em;
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.5em;

    border: 1px solid #000000;
    background-color: rgb(150,150,254);
    opacity: 0.0;
    transition-property: opacity, width, height; 
    transition-duration: 1s;
}

button#ok-button:hover {
    background-color: blue;
    color: yellow;
}

button#ok-button:hover + p.tooltip {
    width: 20em;
    height: 1em;
    opacity: 0.9;
}

.area {
    width: 100px;
    height: 50px;
    background-color: blue;
    transition: width 3s;
}

.area-wrapper:hover .area {
    width: 400px;
}

.linear {
    transition-timing-function: linear;
}
.ease-in-out {
    transition-timing-function: ease-in-out;
}
.ease {
    transition-timing-function: ease;
}
.ease-in {
    transition-timing-function: ease-in;
}
.ease-out {
    transition-timing-function: ease-out;
}